---
layout: layouts/base.njk
---
<div class="max-w-4xl mx-auto px-6 py-12">
  <article class="prose prose-lg prose-blue max-w-none">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
</div>
